*/db
*/incremental_db
*/output_files
*/simulation

sum_stationary_integration/tests/sim_build
sum_stationary_integration/tests/__pycache__
sum_stationary_integration/tests/modelsim.ini
sum_stationary_integration/tests/results.xml
sum_stationary_integration/tests/transcript